<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>.%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="KAFKA_USER" class="com.example.kafkademo.KafkaAppender">
        <topic>snos_tslg_userlog</topic>
        <zookeeperHost>xxx:9092</zookeeperHost>
        <brokerList>xxx:9092</brokerList>
        <!--<appender-ref ref="Console" />-->
    </appender>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p [%c] - %m%n</pattern>
            <!--<pattern>%-5level %logger %C %M %d{MM/dd-HH:mm:ss.SSS} [%thread] - %m%n</pattern>-->
        </encoder>
    </appender>
    <logger name="kafkaDevice" additivity="false">
        <appender-ref ref="KAFKA_DEVICE"/>
    </logger>

    <logger name="kafkaUser" additivity="false">
        <appender-ref ref="KAFKA_USER"/>
    </logger>
    <!--<logger name="com.example.main" additivity="true">-->
        <!--<level value="DEBUG" />-->
        <!--<appender-ref ref="consoleAppender" />-->
    <!--</logger>-->

    <!--<logger name="com.ibatis" level="DEBUG" />-->
    <!--<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />-->
    <!--<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />-->
    <!--<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />-->

    <!--<logger name="java.sql.Connection" level="DEBUG" />-->
    <!--<logger name="java.sql.Statement" level="DEBUG" />-->
    <!--<logger name="java.sql.PreparedStatement" level="DEBUG" />-->
    <logger name="com.ibatis" level="info" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="info" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="info" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="info" />
    <logger name="org.apache.ibatis.io" level="info" />
    <logger name="java.sql.Connection" level="info" />
    <logger name="java.sql.Statement" level="info" />
    <logger name="java.sql.PreparedStatement" level="info" />
    <logger name="org.apache.zookeeper" level="info"/>
    <logger name="org.springframework.context.annotation" level="info"/>
    <logger name="org.springframework.core.io.support" level="info"/>
    <logger name="org.springframework.beans" level="info"/>
    <logger name="org.springframework.transaction.annotation" level="info"/>
    <logger name="org.springframework.aop.framework" level="info"/>
    <logger name="org.springframework.core.env" level="info"/>
    <logger name="org.springframework.jdbc.datasource" level="info"/>
    <logger name="org.springframework.web.servlet.handler" level="info"/>
    <logger name="org.springframework.boot" level="info"/>
    <logger name="org.springframework.web.context.support" level="info"/>
    <logger name="org.springframework.scheduling.quartz" level="info"/>
    <logger name="org.springframework.jndi" level="error"/>
    <logger name="org.springframework.web.servlet.view" level="error"/>
    <logger name="org.mybatis.spring.mapper" level="info"/>
    <logger name="com.zaxxer.hikari" level="info"/>
    <logger name="org.mybatis.spring" level="info"/>
    <logger name="org.quartz" level="info"/>
    <logger name="org.jasig.cas" level="error"/>
    <logger name="org.apache.zookeeper" level="error"/>
    <logger name="org.apache.http" level="info"/>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>